<!DOCTYPE html>
<html>
<head>
  <title>Mensagem de Sucesso</title>
  <!-- Link para o arquivo CSS do Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <!-- Seus estilos CSS personalizados -->
  <style>
    body {
      background-color: #7FFFD4;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .success-message {
      text-align: center;
      font-size: 36px;
      color: #155724;
      background-color: #d4edda;
      padding: 20px;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="success-message">
      Seu cadastro foi feito com sucesso!
    </div>
  </div>
</body>
</html>
